.portfolioList {
    font-size: 14px;
    margin-right: 50px;
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 20px;
}

.pActive {
    background-color: #8062D6;
    color: white;
}

